$primary:         #00E2FD;
$secondary:       #D60358;

$white:           #FFF;
$white002:        #FBFBFB;
$white003:        #EEE;

$gray:            #9C9C9C;
$gray002:         #666565;

$black: 					#1E1E1E;
$black002:           #222222;
$black003:           #333333;